# Bonus: Temperature Analysis I

In [14]:
import pandas as pd
from datetime import datetime as dt

In [29]:
# "tobs" is "temperature observations"
df_tobs = pd.read_csv('Resources/hawaii_measurements.csv')
df_tobs.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [30]:
# Convert the date column format from string to datetime
df_tobs['date'] = pd.to_datetime(df_tobs['date'])
df_tobs.head()

       station       date  prcp  tobs
0  USC00519397 2010-01-01  0.08    65
1  USC00519397 2010-01-02  0.00    63
2  USC00519397 2010-01-03  0.00    74
3  USC00519397 2010-01-04  0.00    76
4  USC00519397 2010-01-06   NaN    73

In [32]:
# Set the date column as the DataFrame index
# Drop the date column
df_tobs.set_index('date', inplace=True, drop=True)
df_tobs.head()

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-06  USC00519397   NaN    73

### Compare June and December data across all years

In [33]:
from scipy import stats

In [34]:
# Filter data for desired months
jun_dec = df_tobs.loc[(df_tobs.index.month == 6) | (df_tobs.index.month == 12)]
jun_dec

                station  prcp  tobs
date
2010-06-01  USC00519397  0.00    78
2010-06-02  USC00519397  0.01    76
2010-06-03  USC00519397  0.00    78
2010-06-04  USC00519397  0.00    76
2010-06-05  USC00519397  0.00    77
...                 ...   ...   ...
2017-06-26  USC00516128  0.02    79
2017-06-27  USC00516128  0.10    74
2017-06-28  USC00516128  0.02    74
2017-06-29  USC00516128  0.04    76
2017-06-30  USC00516128  0.20    75

[3217 rows x 3 columns]

In [36]:
# Identify the average temperature for June
jun = jun_dec.loc[jun_dec.index.month == 6]
avg_jun = round(jun['tobs'].mean(), 2)
avg_jun

74.94

In [37]:
# Identify the average temperature for December
dec = jun_dec.loc[jun_dec.index.month == 12]
avg_dec = round(dec['tobs'].mean(), 2)
avg_dec

71.04

In [38]:
# Create collections of temperature data
list_06 = jun['tobs'].tolist()
list_12 = dec['tobs'].tolist()

In [39]:
# Run paired t-test
stats.ttest_ind(list_06, list_12, equal_var=False)

Ttest_indResult(statistic=31.355036920962423, pvalue=4.193529835915755e-187)

### Analysis

Null hypothesis (H0): ud = 0, which translates to the mean difference between june and december is equal to 0.

Alternative hypothesis (HA): ud ≠ 0, which translates to the mean difference between june and december is not equal to 0.

Give the resulting p-value, we can reject the null hypothesis.

The mean difference between june and december is not equal to 0.